{
    "token": "",


    "reddit_config" :  {
        "reddit_token" : "",
        "reddit_secret" : "",
        "reddit_ua" : "Reddit-User_Agent"

    },

    "owner_ids" : [],
    "user_roles": [],
    "modules" : ["cogs.random",
                  "cogs.reddit",
                  "cogs.youtube",
                  "cogs.todo",
                  "cogs.challenges",
                  "cogs.reminder"],
    "profile_questions": [],
    "description" : "ZTM Python Discord Bot"
}