{
    "token": "",


    "reddit_config" :  {
        "reddit_token" : "",
        "reddit_secret" : "",
        "reddit_ua" : "Reddit-User_Agent"

    },

    "reminder_config" : {
        "database" : "data/reminders.db"
    },

    "todo_config" : {
        "database": "data/todo.db"
    },

    "owner_ids" : [],
    "user_roles": [],
    "activities": [ "The Witcher 3",
                  "GTAV",
                  "Red Dead Redemption 2",
                  "Madden NFL 2020",
                  "Elder Scrolls Online"],
    "modules" : [ "cogs.owner",
                  "cogs.random",
                  "cogs.reddit",
                  "cogs.youtube",
                  "cogs.todo",
                  "cogs.challenges",
                  "cogs.reminder" ],
    "profile_questions": [],
    "description" : "ZTM Python Discord Bot"
}